@model IEnumerable<PREPARCIAL.Models.Alumno>

@{
    ViewBag.Title = "Estudiantes de programación IX";
}


<p>
    @Html.ActionLink("Nuevo estudiante", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="3">
            Nombres
        </th>
        <th colspan="2">
            Apellidos
        </th>
        <th>
            Fecha de nacimiento
        </th>
        <th>
            Dirección
        </th>
        <th>
            Correo electrónico
        </th>
        <th>
            Teléfono célular
        </th>
        <th>
            Teléfono domicilio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td colspan="3">
            @Html.DisplayFor(modelItem => item.primer_nombre)

            @Html.DisplayFor(modelItem => item.segundo_nombre)

            @Html.DisplayFor(modelItem => item.tercer_nombre)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.primer_apellido)

            @Html.DisplayFor(modelItem => item.segundo_apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_domicilio)
        </td>
        <td>
            @Html.ActionLink("Ver", "Details", new { id = item.carne })
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.carne })
        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.carne })
        </td>
    </tr>
}

</table>
